div button{
    color: blue;
}

h2{
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

div p{
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
}